.media-body{
    font-family: "Helvetica",Arial,sans-serif;
    font-size: 12px;
}
.circular-comment {
    /*border: 1px solid gray;*/
    margin-top: 3px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-comment img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.media-comment{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
}

.media-side-left{
    width: 65px;

}

.media-body>.media-input{
    width: 95%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: solid 1px #d3d3d3;
    padding: 8px 12px 8px 10px;
    margin-bottom: 8px;
}

.media-body>.media-time{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*margin-bottom: 2px;*/
    font-size: 7pt;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 5px;
}

.media-body>.media-heading-comment{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}

.media-body>.comment-content{
    margin-top: 0px;
    margin-bottom: 5px;
}

.input-flat{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: solid 1px white;
    padding: 0px 5px;
}

.input-flat-large{
    padding: 8px 12px 8px 10px;
    width: 96%;
}