.aktor-skandal-left{

}
.aktor-skandal-list{
    margin-bottom: 15px;
}
.aktor-skandal-photo{
    height: auto;
    width: 100%;
}

.aktor-skandal-right>a>h4{
    margin-bottom: 0px;
}

.content-politisi-terkait{
    float:left;
    width: 40px;
    height: 50px;
    margin-right: 8px;
}
.content-politisi-terkait>img{
    width: auto;
    height: auto;
}


#profile_scandal_container{
    margin-top: 10px;
}

#profile_news_container{
    margin-top: 10px;
}


.aktor-side-nav{margin-top: 1px;}
.aktor-side-information{display: block;text-decoration: none;color: #000000;font-weight: normal;}
.aktor-side-information>span{font-size: 14px;margin-left: 10px;margin-right: 15px;}

.aktor-side-nav-large{height: auto;}
.aktor-side-nav-bg{background: #f5f5f5;}
.aktor-side-nav-link-user{line-height: 50px;text-decoration: none;color: red;display: block;}
.aktor-side-nav-link-user:hover{text-decoration: none; color: red;cursor: pointer;}
.aktor-side-nav-link-user>h4{margin-left: 10px;}
.aktor-side-nav-link{display: block;text-decoration: none;color: #000000;font-weight: bold;line-height: 40px;}
.aktor-side-nav-link:hover{text-decoration: none;color: #000000;cursor: pointer;}
.aktor-side-nav-link>span{font-size: 14px;margin-left: 10px;margin-right: 15px;}

.aktor-side-table-title {color: #000000; font-size: 14px;padding-left: 10px; padding-right: 10px;height: 23px;}
.aktor-side-table-title-col1 {width: 100px;}
.aktor-side-table-title-col2 {width: 206px;}

.aktor-side-friend-list{float: left;margin: 0px 0px;}
.aktor-side-friend-list a{text-decoration: none;}
.aktor-side-friend-list a:hover{text-decoration: none;cursor: pointer;}
.aktor-side-friend-list img{width: 36px;}

#aktor-album {background-color: #fff; padding: 0px;}
#aktor-album ul {margin: 0; padding: 0; list-style: none;}
#aktor-album li {float: left; margin: 0; vertical-align: top;margin-bottom: 5px;}
#aktor-album li .img-frame {width: 155px; height: 190px; border: solid 1px #cecece;text-align: center;background-color: #cecece;}
#aktor-album li img {width: 145px; height: 160px;}
#aktor-album li .aktor-date {font-size:9px; font-style: italic; font-weight: normal;margin-top:45px;}
#aktor-album li .album-title {font-size: 12px; font-weight:normal;color: #f70201;text-decoration: none;display: block;margin-top:45px;}

.heading_title{
    background: url("../../assets/images/bg1.jpg");
}

#title_logo{
    float: right;
    width: 110px;
    margin-right: 15px;
    margin-top: 10px;
}

#title_title{
    float: right;
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    font-family: "Helvetica", Arial, sans-serif;
    margin-top: 60px;

}

#heading_carousel{
    height: 150px;
    width: 960px;
    margin-top: 1px;
    margin-left: -1px;
}

#hot_profiles_carousel .hot_profile{
    margin: 3px;
}
#hot_profiles_carousel .hot_profile img{
    display: block;
    width: 196px;
    height: 146px;"
}

#topside_header{
}

.imageHolder {
    position: relative;
    width: 196px;
    height: 146px;
}

.imageHolder .caption {
    position: absolute;
    width: 196px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    text-align:center;
    font-weight:normal;
    margin-top: 1px;

}

/*---------------------------------*/
.owl-prev{
    display: block !important;
    margin-left: -31px !important;
    margin-top: -60px !important;
    width: 34px !important;
    height: 33px !important;
}

.owl-next{
    display: block !important;
    margin-left: 895px !important;
    margin-top: -32px !important;
    width: 34px !important;
    height: 33px !important;

}

/*----------------------------------*/
.owl-stage-outer{
    width: 958px !important;
    margin: auto !important;
}




#hot_profiles_carousel .owl-controls .owl-nav .owl-prev{
    position: absolute !important;
    margin-top: -102px !important;
    margin-left: 1px !important;
    margin-right: 10px !important;
    width: 60px !important;
    height: 94px !important;
    display: block !important;
}

#hot_profiles_carousel .owl-controls .owl-nav .owl-next{
    position: absolute !important;
    margin-top: -102px !important;
    margin-left: 908px !important;
    margin-right: 10px !important;
    width: 60px !important;
    height: 94px !important;
    display: block !important;
}