.caleg-image-header{position: absolute; top: 0px;margin-left: 30px;}
.h2-red{color: red;margin-top: -3px;margin-bottom: 0px;font-weight: 100; line-height: 35px;}
.text-header-place{padding-top: 30px;}
.p-white{color: white; margin: 0px; /*margin-top: -10px;*/ font-size: 20px; font-weight: 700; width: 70px;line-height: 25px}


.div-line-index{
    width: 40px;
    height: 30px;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-weight: 900;
}

.div-line-header{
    width: 500px;
    margin: 0 auto;
    height: 4px;
    /*margin-top: 60px;*/
}

.div-line-header-3{
    background-color: #496d2f;
}

.div-line-header-1{
    background-color: #9a191d;
}

.div-line-header-2{
    background-color: #8d601f;
}
.div-line-header-4{
    background-color: #193791;
}

/* Not required for template or sticky footer method. */

.container-960 {
     width: 960px;
     max-width: 960px;
     margin: 0 auto;
 }

 .container-960-header-1{
    background: url('/assets/images/header-topten-1.png') no-repeat;
    background-position: center;
    height: 100px;
 }

 .container-960-header-2{
    background: url('/assets/images/header-topten-2.png') no-repeat;
    background-position: center;
    height: 100px;
 }

 .container-960-header-3{
    background: url('/assets/images/header-topten-3.png') no-repeat;
    background-position: center;
    height: 100px;
 }

 .container-960-header-4{
    background: url('/assets/images/header-topten-4.png') no-repeat;
    background-position: center;
    height: 100px;
 }

.container-940 {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
}

.container-750 {
    width: 750px;
    max-width: 750px;
    margin: 0 auto;
}

.row-fluid-250{
    /*height: 280px; */
    overflow: hidden;
    margin-bottom: 20px;
}

.container-overlay{
    position: absolute;
    width: 960px;
    background-color: #b3c7e1;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    z-index: 9991;
    padding-bottom: 20px;
    max-height: 550px;
    height: 540px;
    overflow: hidden;
}
.caleg-header{
    height: 38px;
    /*background-color: rgba(0,0,0, 0.7);*/
    padding-top: 2px;
    position: fixed;
    width: 960px;
    margin: 0 auto;
    z-index: 99;
}

.navbar-top-ten-3{
    background-color: rgba(105,148,69, 1);
}

.navbar-top-ten-1{
    background-color: rgba(202,98,97, 1);
}
.navbar-top-ten-2{
    background-color: rgba(251,155,53, 1);
}
.navbar-top-ten-4{
    background-color: rgba(147,179,255, 1);
}

.politic-section-left {float:left; width: 185px;}
.politic-section-right {float:left; width: 440px;}


.caleg-header h4{
    color: white;
    margin-left: 10px;
}

.caleg-body-partai{
    height: 110px;
    width: 100%;
    border-bottom: solid 2px #b2b2b2;
}

.caleg-body-desc{
    border-bottom: solid 2px #b2b2b2;
    padding-left: 10px;
}

.partai-list{
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0px;
}
.partai-list>li{
    float: left;
    margin-right: 5px;
    width: 70px;

}

.partai-image-mini{
    /*top: 40px;*/
    /*position: relative;*/
    width: 40px;
    height: 40px;
    position: absolute;
}
.partai-image-large{
    /*width: 100%;*/
    /*min-height: 200px;*/
    max-width: 200px;
    overflow: hidden;
    /*margin-bottom: 5px;*/
    /*margin-top: -40px;*/

}

.caleg-body{
    /*margin-top: 44px;*/
    height: 500px;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 44px;
    background-color: #b3c7e1;
}

#caleg_list{
    border-top:solid 2px #b2b2b2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.caleg-name{
    margin-top: 4px;
    margin-bottom: 5px;
}

.caleg-date{
    color: #0e0e0e;
    margin: 0px;
    text-align: left;
    font-size: 11px;
}

/**** BUTTON *****/
.btn-flat{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    margin-top: 4px;
    border: 0px;
    /*margin-top: 4px;*/
}



.btn-flat:hover{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.btn-flat-large{
    font-size: 16px;
    padding: 5px 13px 5px 13px;

}

.btn-flat-xlarge{
    font-size: 16px;
    padding: 9px 15px 9px 15px;
    width: 100%;
    text-align: center;
}

.btn-flat-gray{
    color: white;
    background: #cccccc;
}

.btn-flat-gray:hover{
    color: #ffffff;
}

.btn-flat-red{
    color: white;
    background: #f70201;

}

.btn-flat-dark{
    color: white;
    background: #4c4c4c;
}
.btn-flat-dark:hover{
    color: white;
}

/** FOR MAP */
.province{
    /*border: 1px solid blue;*/
    /*background: blue;*/
    /*color: black;*/
    /*display: block;*/
    z-index: 100;
    width: 10px;
    height: 10px;
}

#idn_maps_image{
    margin-top: 10px;
}

#pop_over{
    min-width: 200px;
}

.loader{
    width: 100%;
    height: 2px;
    background: url(../images/loader_like-color.gif) no-repeat;
    background-size: 100% 100%;

}

.partai-ref{

}

.partai-alias{
    color: #0e0e0e;
    margin: 0px;
    text-align: center;
    font-size: 11px;
}

.partai-caleg{
    color: #0e0e0e;
    margin: 0px;
    text-align: center;
    font-size: 11px;
    line-height: 9px;
}
#example{
    position: relative;
}

#example ul {
    position: absolute;
    width: 960px;
}

#example li{

}

.thumbnail-white{
    background-color: white !important;
}

.top-image-large{
    background-color: #bbbbbb;
    /* width: 100%; */
    width: 180px;
    height: 180px;

}

.name-politer{
    margin: 0px;
    line-height: 30px;

}

.name-politer-desc{
    margin: 0px;
    line-height: 20px;
    font-size: 17px;
    font-weight: normal;
}

.top-image-partai{
    float: left;
    margin-right: 10px;
    width: 60px;height: 60px;
}

.a-block{
    width: 175px;
    display: block;
    line-height: 20px;
    font-weight: 700;
    font-size: 12px;
    padding-left: 5px;
}

.a-block>span{
    float: right;
    margin-right: 20px;
}

.a-block-3{background-color: rgba(105,148,69, 0.4);}
.a-block-1{background-color: rgba(202,98,97, 0.4);}
.a-block-2{background-color: rgba(251,155,53, 0.4);}
.a-block-4{background-color: rgba(147,179,255, 0.4);}

.img-politer-galery{width: 83px; height: 83px; float: left; margin-right: 5px;}
.politer-galery{height: 85px; width: 100%; display: inline-block;}
.politer-galery-container {float:left;height: 85px;width: 440px;}

#topten-terkait {margin-left:0px;}
#topten-terkait .topten {margin-top:1px; padding-top: 10px;padding-bottom: 10px;border-radius:2px;
    /*background: url('../images/sticker-topten.png') no-repeat left top;*/ min-height: 45px; height: auto;/*padding-left: 50px;*/
}

#topten-terkait img {width:12px;height: 12px;margin-left:10px;float:left;}
#topten-terkait .topten div {float:left;width:250px;font-size: 13px;color: #D20001;margin-left:7px;margin-top:5px;line-height: 20px;margin-top: -4px;}
#topten-terkait .topten p {float:left;font-size: 12px; color: #000;margin-left:30px;top:-2px;width: 117px;line-height: 10px;}

#topnews .media-news {width:440px;height: 75px;margin-bottom: 2px;}
#topnews .media-news img {width :124px; height: 68px;}
#topnews .media-news h5 {font-size: 12px !important;font-weight: normal;line-height: 16px; margin-top:2px;}
#topnews .article {font-size:11px;margin-top:-8px;line-height:12px;}
#topnews .line-divider {background: none repeat scroll 0 0 #ffffff;height: 1px;margin-bottom: 2px;margin-top: 2px;width: 100%;}
