.suksesi-img-logo{
    height: 100px;
}

.suksesi-img-logo img{
    max-height: 100px;
}

.suksesi-img-map{
    height: 230px;
    overflow: hidden;
}

.suksesi-img-map img{
    max-height: 170px;
    margin-bottom: 10px;
    width: 100%;
}

.suksesi-ket-place{
    height: 25px;
}

.suksesi-ket-place span{
    padding: 0px;
    margin: 0px;
}

.table .suksesi-ket-place{
    padding: 2px 0px 0px 8px;

}

.nav-tabs-suksesi{
    margin-bottom: 5px;
}

.suksesi-carousel-image{
    width: 100%;
    height: 173px;
}

.suksesi-carousel-image img{
    width: 100%;
}

.suksesi-carousel-control-thumbs{
    float:left;
   /* text-align: center;*/
    overflow: hidden;
    position: relative;
    height: 80px;
    width: 311px;
}

.suksesi-carousel-indicators{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    white-space: nowrap;
    width: 311px;
    height: 78px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.suksesi-carousel-indicators li{
    /*float: left; */
    margin-right: 1px;
    width: 57px;
    height: 57px;
    display:inline-block;
}

suksesi-carousel-indicators li img {width: 57px;height: 57px;}
.suksesi-carousel-indicators>.active>img{
 /*   -webkit-filter: grayscale(100%); */
}

.suksesi-carousel-control-container{
    margin-top: 10px;
}
.suksesi-carousel-control-button {float:left;width: 10px;height: 50px;}
.suksesi-carousel-control-button a {font-size: 25px;font-weight: bold; color: #ffffff;margin-top:15px;}
/*
.suksesi-carousel-control{
    font-size: 25px;
    font-weight: bold;
    color: #a9a9a9;
}
*/
.suksesi-carousel-control:hover{

    text-decoration: none;
}

.suksesi-kandidat-detail{
    height: 146px;
    overflow: hidden;
}
.suksesi-other-title {line-height: 33px;background-color: #bbbbbb;font-family: 'times new roman', helvetica, arial; font-size: 20px;}
.suksesi-other-title a {color: #000;margin-left:0px;text-decoration: none;margin-left:10px;}

.circular-suksesi {
    border: 4px solid #dcdcdc;
    margin-top: 3px;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-suksesi img {
    opacity: 0;
    filter: alpha(opacity=0);
}


.quick-circular-suksesi {
    border: 4px solid #dcdcdc;
    margin-top: 3px;
    margin-left: 8px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.quick-circular-suksesi img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.circular-suksesi-mini {
    border: 3px solid #dcdcdc;
    margin-top: 3px;
    margin-left: 8px;
    width: 47px;
    height: 47px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-suksesi-mini img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.circular-suksesi-mini-super {
    border: 3px solid #dcdcdc;
    margin-top: 3px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-suksesi-mini-super img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.circular-suksesi-mini-top-margin{
    margin-top: 30px;
}

.table-nomargin{
    margin-bottom: 0px !important;
}

/** SUKSESI UL HORIZONTAL **/
.row-fluid-extra{
    width: 1000px !important;
    margin-left: -40px;
}

.suksesi-hasil-place{
    width: 960px;
    overflow: hidden; 
}

.ul-inline{
    white-space:nowrap;
}

.ul-inline li{
    width: 75px;
    height: auto;
    display: inline;
    vertical-align: top;
    white-space: normal;
    text-align: center;
}

.home-race-candidates-left{
    margin-top: 60px;
}

.home-race-candidates-left tr {
/*border-bottom: 1px dotted #ccc;*/
white-space: normal;
}
.home-race-candidates-left tr:last-child {border-bottom: none;}
.home-race-candidates-left td { padding: 1px 0px; font-family: helvetica; font-size: 12px; }
.home-race-candidates-left :first-child td {}

.home-race-candidates-small {border-collapse: collapse; margin-top: 0; width: 70px; white-space: normal;}
.home-race-candidates-small tr {/*border-bottom: 1px dotted #ccc;*/}
.home-race-candidates-small tr:last-child {border-bottom: none;}
.home-race-candidates-small td {font-family: helvetica; font-size: 12px;}
.home-race-candidates-small :first-child td {}


.lembaga-title{
    font-weight: 700;
    white-space: normal;
    margin-bottom: 5px;
    height: 40px;
}

.kandidat-title{
    margin-top: 15px;
    margin-bottom: 0px;
}

.home-race-percentage-box-small {width: 70px; height: 30px; background-color: #cccccc; margin-top: 15px;}
