.clear{
    clear: both;
}

.row{
    margin-bottom: 15px;
}

/*.container-fluid {*/
    /*padding-left: 0 !important;*/
/*}*/

.node_text{
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 1px;
}

#container_container{
    margin-top: 400px;
    margin-left: -25px;
    position: absolute;
}

.content_box{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 3px rgba(119,172,238,1.0);
    background: rgba(69,8,195,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

#narration{
    width: 493px;
    margin-left: 28px;
    word-wrap: break-word;
    font-size: 14px;

}

#analisa{
    width: 493px;
    margin-left: 28px;
    word-wrap: break-word;
    font-size: 14px;

}

.analisa_point{
    font-size: 14px;
    /*border-bottom: solid 1px #c4c4c4;*/
    margin-bottom: 30px;
}

#penyokong1{
    float: left;
    border: none 1px red;
    width: 126px;
    height: 165px;
    margin-top: 20px;
    margin-left: 37px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(225,225,225,1.0);
}
#penyokong2{
    float: left;
    border: none 1px red;
    width: 174px;
    height: 165px;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 10px 10px 10px 10px;
    background: rgba(225,225,225,1.0);
}

#penyokong1_image{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 104px;
}

#penyokong1_logo{
    width: 24px;
    height: 15px;
    margin-left: 10px;
}

#penyokong1_name{
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#penyokong1_jabatan{
    font-weight: bold;
}

#penyokong2_image{
    padding-top: 10px;
    padding-left: 38px;
    padding-right: 10px;
    width: 104px;
}

#penyokong2_logo{
    width: 24px;
    height: 15px;
    margin-left: 10px;
}

#penyokong2_name{
    margin-left: 10px;
    font-size: 11px;
    font-weight: bold;
}

#penyokong2_jabatan{
    font-weight: bold;
}
#node_pendukung_text{
    margin-left: 190px;
    color: rgba(255,255,255,1.0);
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#node_penentang_text{
    margin-left: 190px;
    color: rgba(255,255,255,1.0);
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#node_kronologi_text{
    margin-left: 190px;
    color: rgba(255,255,255,1.0);
    padding-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

.green_box{
    background-color: #eaf7e3;
    width: 515px;
    margin-left: 5px;
    margin-top: -3px;
    height: auto;
    margin-bottom: 15px;
    padding-right: 0;
}

.red_box{
    background-color: #e95757;
    width: 515px;
    margin-left: 5px;
    margin-top: -3px;
    height: auto;
    margin-bottom: 15px;
    padding-right: 0;
}

#parpol_pendukung_box{
    margin-top: 1px;
    margin-left: 1px;
    height: 300px;
}

#parpol_penentang_box{
    margin-top: 1px;
    margin-left: 1px;
    height: 167px;
}


#institusi_pendukung_box{
    margin-top: 1px;
    margin-left: 1px;
}

#institusi_penentang_box{
    margin-top: 1px;
    margin-left: 1px;
    height: 415px;
}

#pk_penentang_box{
    margin-top: 1px;
    margin-left: 1px;
    height: 175px;
}

#tokoh_penentang_box{
    margin-top: 1px;
    margin-left: 1px;
    height: 534px;
}

#parpol_pendukung_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#parpol_penentang_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}


#institusi_pendukung_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;

}


#institusi_penentang_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;

}

#pk_penentang_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;

}

#tokoh_penentang_title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;

}

.partai_images{
    margin-left: 10px;
    height: 110px;
    margin-top: 10px;
}

.institusi_pendukung_text{
    margin-left: 10px;
    font-size: 12px;

}

.institusi_penentang_text{
    margin-left: 10px;
    font-size: 12px;

}

.pk_penentang_text{
    margin-left: 10px;
    font-size: 12px;

}

.row-fluid .span3 {
    width: 22.404% !important;
}

.plain_title{
    margin-left: 1px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;
}

.plain_title2{
    margin-left: 1px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 1px;
}
.gelombang{
    width: 518px;
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 1px;
    margin-bottom: 1px;
}

#berita_terkait{
    width: 513px;
}

.berita_terkait_class{
    margin-left: 10px;
    width: 148px;
    height: 75px;
}

.berita_text{
    margin-left: 11px;
    width: 460px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 12px;
}

.calon_tunggal{
    margin-top: 69px;
}

#calon_name{
    margin-left: 41px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

#steps{
    float: left;
    width: 240px;
}
#kronologi_list{
    float: left;
    width: 368px;
    margin-left: 10px;
    margin-top: 10px;
}

.kronologi_date{
    font-size: 14px;
    font-weight: bold;
    color: #ac0808;
}

.kronologi_details{
    font-size: 14px;
}

#kronologi_0{
    margin-top: 9px;
}

#kronologi_1{
    margin-top: 1px;
}

#kronologi_2{
    margin-top: 1px;
}
#kronologi_3{
    margin-top: 11px;
}
#kronologi_4{
    margin-top: 8px;
}
#kronologi_5{
    margin-top: 1px;
}
#kronologi_6{
    margin-top: 7px;
}
#kronologi_7{
    margin-top: 1px;
}
#kronologi_8{
    margin-top: 7px;
}
#kronologi_9{
    margin-top: 7px;
    margin-bottom: 10px;
}

.quote_left_container{
    float: left;
    width: 187px;
    min-height: 300px;
    margin-right: 5px;
    background-color: #eeeef4;
}

.quote_right_container{
    float: left;
    width: 200px;
    min-height: 300px;
    background-color: #eeeef4;
}

.one_quote{
    padding-left: 10px;
    padding-top: 10px;
;
}
.from_photo{
    float: left;
    width: 50px;
    height: 50px;
}

.from_detail{
    float: left;
    width: 100px;
}

.from_name{
    font-weight: bold;
    text-decoration: underline;
}

.from_jabatan{
    font-weight: normal;
    text-decoration: none;
}

.quote_pendukung_content{
    color: #0000FF;
    border-bottom: solid 2px #b1b1b1;
}

.quote_penentang_content{
    color: #ee0101;
    border-bottom: solid 2px #b1b1b1;
}



#top_calon_tunggal{
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px 0 0 10px;
    width: 427px;
    /*background: rgba(101,97,90,1.0);*/
    background-color: #877c65;
}


#foto_calon{
    margin-top: -216px;
    margin-right: 10px;
    float: right;
}

#narasibg{
    color: #e9f0ae;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
    word-wrap: break-word;
}

#textwrap{
    float: right;
    margin: 10px;
}

#narasibiodata{
    margin-left: 40px;
}

.subtitling{
    color: #e9f0ae;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 40px;
    font-size: 14px;
}

.biodata_title{
    float: left;
    width: 140px;;
    color: #e9f0ae;
    margin-left: 40px;
    font-size: 14px;
}

.biodata_content{
    float: left;
    color: #e9f0ae;
    font-size: 14px;
}

.biodata_content2{
    color: #e9f0ae;
    font-size: 14px;
    margin-left: 40px;
}

.karir{
    color: #e9f0ae;
    font-size: 14px;
}

.redblock{
    height: 32px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #e08b8b ;
    width: 440px;
    margin-left: 4px;
    padding-top: 6px;;
    font-weight: bold;
}

.texting1{
    color: #000000;
    font-size: 14px;
    width: 430px;
    text-align: justify;
    word-wrap: break-word;
    margin-left: 5px;
}

.box_calon_baru{
    /*border: solid 1px red;*/
    border-radius: 10px 10px 10px 10px;
    border: dotted 3px #b1b1b1;
    width: 430px;
    margin-bottom: 10px;
    min-height: 100px;
    height: 200px;
}

.cal_bar_left{
    float: left;
    width: 250px;
}

.cal_bar_right{
    float: left;
    width: 180px;
}

.cal_bar_name{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 4px;

}

.small_foto{
    float: left;
    width: 72px;
    margin-left: 10px;
    margin-bottom: 5px;
}


.small_info{
    float: left;
    width: 148px;
    margin-left: 3px;
    word-wrap: break-word;

}

#kronologi_box{
    width: 417px !important;
}

