#content-powermap .row {
	margin-left: 0;
	}

.circle{
		background: #FF0004;
	}

.nodetext{
		stroke: black;
		/*font: 12px Verdana;*/
		stroke-width: 0px;
		font-weight : bold;
	}
#content-powermap rect {
  	fill: #FC0303;
  	fill-opacity: 0.2;
  	pointer-events: all;
  	stroke-width: 1.5px;
	stroke: #7A0000;
}

.node {
	stroke-width: 1.5px;
	/*stroke: #7A0000;*/

}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
	  stroke: #ccc;
	}

.rect_place{
	fill: transparent;
	stroke-width: 0px;
	stroke: transparent;
}

svg{
	/*background-color: #FC0303;*/
}

#chart{
	position: relative;
}

#chart .detail{
	position:absolute;
	top: 10px;
	right:10px;
	left: 10px;
	border: 1px solid #CCC;
	background-color:#FFF;
	z-index:1;
	width:auto;
	padding:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#short_profile{
	-moz-box-shadow:    0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;
}

.powermap-label{
	position: absolute;
	top: 10px;
	left: 30%;
	margin: -0.5em 0 0 -83px;
	display: inline;
	padding: 4px 8px;
	background-color: #ccc;
	color: #333;
	border-radius: 1em;
	font-family: sans-serif;
	font-size: 10px;
}

.powermap-label-hot-profile{
	position: absolute;
	top: 10px;
	left: 15%;
	margin: -0.5em 0 0 -83px;
	display: inline;
	padding: 4px 8px;
	background-color: #ccc;
	color: #333;
	border-radius: 1em;
	font-family: sans-serif;
	font-size: 10px;
}